<footer>
  <small>
	  <a href="http://blog.51osos.com/">Linux News</a>
	  by LinuxGit
	</small>
	<nav>
	  <ul>
		  <li><%= link_to "About", about_path %></li>
		  <li><%= link_to "Contact", contact_path %></li>
		  <li><a href="http://blog.51osos.com/">News</a></li>
		</ul>
  </nav>
</footer>
